[core]
  pager = less -FRX

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  s = status
  di = diff
  cm = commit
  pr = pull --rebase
  co = checkout
  cb = checkout -b
  sw = switch
  swc = switch -c
  b = branch

[include]
  path = .gitconfig.local
